@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;

}
:root{
    --a:0;
}

body {}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}
.bg-black {
    background-color: black;
    color: white;

}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: rgb(31 31 31);
}
.home ul li {
    gap: 15px;
    display: flex;
     width: 22px;
    list-style: none;
    padding-top: 13px;
    font-weight:  bold;

}
.heading {
    gap: 15px;
    display: flex;
    width: 100%;
    padding-top: 13px;
    padding: 23px 14px;
    font-size: 13px;
    font-weight: bold;
    align-items: center;

}
.heading img{
    width: 25px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap:13px;
    flex-wrap:wrap;
    position: absolute;
    bottom: 2%;
    
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer a{
    color: grey;
    text-decoration: none;

}
.footer a :hover{
    text-decoration: underline;
}
.right{
    margin:16px 0px;
    
}
.close{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(83, 78, 78, 0.229);
        height: 78px;

}
.header > *{
    padding: 12px;
}.spotifyP{
    padding: 16px;
}
.spotifyP h1{
    padding: 16px;
}
.cardContainer{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 60vh;
    overflow-y: auto;

}
.card{
    width: 180px;
    padding: 10px;
    background-color: rgba(152, 151, 151, 0.122);
    position: relative;
    transition: all .9s;
}
.card * >{
    padding-top: 10px;
}
.card .play-icon {
    width: 42px;
    height: 48px;
    position: absolute;
    top: 88px;
    right: 17px;
    cursor: pointer;
    opacity: var(--a);
    transition: all 1s ease-in;
}
.range>input{
    cursor: pointer;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;

}
.card:hover{
    background-color: #515050;
    cursor: pointer;
    --a:1;
}
.button > *{
    margin: 0px 12px;
}
.signupbtn{
    background-color: rgba(83, 78, 78, 0.229);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.loginbtn:hover {
    font-size: 17px;
    color: black
    

}
.playbar{
    position: fixed;
    bottom: 12px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 15px;

    padding: 12px;
    margin: 12px;
    width: 70vw;
    min-height: 40px;
}
.songbutton{
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 35px;

}
.songlist ul{
    padding: 0px 3px 2px;

}
.songlist{
    height: 455px;
    overflow: auto;
    margin: 32px 0 ;
}
.songlist ul li{
    gap: 14px;
    padding: 0 0 12px;
    display: flex;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 14px;
    border-radius: 5px;
    justify-content: space-between;

}
.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
}
.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seekbar{

    height: 4px;
    margin: 6px;
    width: 96%;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 2px;
    cursor: pointer;

}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}
.songbutton img{
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content: space-between;
        margin: 20px 0;
    
}
.songtime{
     color: black;
    padding: 0 12px;
    width: 150px;

}
.songinfo{
    color: black;
    padding: 0 12px;
    width: 350px;
}
@media  (max-width:1250px){
    .left{
        width: 360px;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        background-color: black;
        padding: 0;
    }
    .left .close{
        position: absolute;
    top: 23px;
    right: 30px;
    }
    .close{
        display: block;
    }
    .right{
        width: 100vw;
        height: 100vh;
    }
    .playbar{
        width:calc(100vw - 60px);
    }
    .seekbar{
        width: calc(100vw - 70px);
    }
    .hamburger{
        display: block;
    }
    .abovebar{
    
        align-items: center;
    }
    .card{
        width: 40vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .right{
        margin: 0;
    }
    .info div{
        word-break: break-all;
    }
    .songinfo,.songtime{
        width: auto;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .timevol{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}
    
